/ExerciseOne/nbproject/private/
/JAXBElementTutorial/nbproject/private/
/JAXBElementTut/nbproject/private/
/JAXBElementTut/build/
/JAXBElementListenerBeforeMarshalTutorial/nbproject/private/
/JAXBElementListenerBeforeMarshalTutorial/build/
/JAXBElementTutorial/build/
/ExerciseOne/build/
/ExerciseTwo/nbproject/private/
/ExerciseTwo/build/
/ProjectTwo/nbproject/private/
/ProjectTwo/build/
/SXSSFWorkbook/nbproject/private/
/ALESSONONABSTRACTION/nbproject/private/
/ALESSONONABSTRACTION/build/